<!-- <table class="table table-striped table-bordered table-hover", id="table", table_layout="fixed"> -->
      <tr text-align="center">
      	<th> <%= driver.id %> </th>
    	<th><%= driver.name %></th>
    	<th> <%= driver.phone %> </th>
		<th><%= driver.availability_string%></th>
		<th><%= driver.state_string %></th>
		</tr>
<!-- </table> -->
