<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @driver.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @driver.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @driver.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_url) %>:</strong></dt>
  <dd><%= @driver.image_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver_state) %>:</strong></dt>
  <dd><%= @driver.state_string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver_availability) %>:</strong></dt>
  <dd><%= @driver.availability_string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver_type) %>:</strong></dt>
  <dd><%= @driver.get_driver_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activated) %>:</strong></dt>
  <dd><%= @driver.activated %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              drivers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_driver_path(@driver), :class => 'btn btn-default' %>
